/*Especifidad (001)*/
body{
    font-family: "Monaco", sans-serif;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
/*Especifidad (001)*/
form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 1.8em;
    background-color: grey;
    width: fit-content; 
    height: auto;
}
/*Especifidad (011)*/
input[name="pantalla"]{
    background-color: white;
    grid-column: span 5;
    margin-bottom: 1em;
    padding: 1em;
}
/*Especifidad (011)*/
input[value="F-E"]{
    grid-column: span 3;
    width: 4.5em;  
}
/*Especifidad (011)*/
input[type=submit]  {
    border-radius: 5%;
    
    padding: 1em;
    margin: 0.3em;
    font-size: 0.8em;
}
